<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accounting.Client" version="1.1.1135.0" targetFramework="net45" />
  <package id="Accounting.Commands" version="1.1.1447" targetFramework="net451" />
  <package id="Accounting.Events" version="1.1.1135.0" targetFramework="net45" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net451" />
  <package id="Common.Core" version="1.1.132" targetFramework="net451" />
  <package id="Common.Messages" version="1.1.127" targetFramework="net451" />
  <package id="Common.Security" version="1.1.126" targetFramework="net451" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Construction.Events" version="1.4.580.0" targetFramework="net45" />
  <package id="Enumeration" version="2.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.1001" targetFramework="net45" />
  <package id="Land.Events" version="1.1.191" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net45" />
  <package id="NServiceBus" version="4.7.5" targetFramework="net45" />
  <package id="NServiceBus.Host" version="4.7.5" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.7.5" targetFramework="net45" />
  <package id="NServiceBus.NHibernate" version="4.2.0" targetFramework="net45" />
  <package id="NServiceBus.StructureMap" version="4.2.0" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="TIPS.Commands" version="1.2211.0" targetFramework="net451" />
  <package id="TIPS.Events" version="1.2211.0" targetFramework="net451" />
</packages>