@model dynamic

<div class="container">
    <section class="margin-bottom-10">
            <h2 class="pull-left no-margin">Change Homeowner</h2>
            <div class="clearfix"></div>
        </section>
</div>