<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
        <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
        <section name="WarrantyConfigSection" type="Warranty.Core.Configurations.WarrantyConfigSection, Warranty.Core" />
      <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
      <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
    </configSections>
    <WarrantyConfigSection>
      <Cities>
        <add City="ATL" WarrantyAmount="40" />
        <add City="AUS" WarrantyAmount="40" />
        <add City="CAR" WarrantyAmount="40" />
        <add City="CHA" WarrantyAmount="40" />
        <add City="CHI" WarrantyAmount="40" />
        <add City="CON" WarrantyAmount="40" />
        <add City="CSC" WarrantyAmount="40" />
        <add City="CTX" WarrantyAmount="40" />
        <add City="DAL" WarrantyAmount="40" />
        <add City="DEN" WarrantyAmount="40" />
        <add City="FTM" WarrantyAmount="40" />
        <add City="HIL" WarrantyAmount="40" />
        <add City="HOU" WarrantyAmount="40" />
        <add City="HAF" WarrantyAmount="40" />
        <add City="IND" WarrantyAmount="40" />
        <add City="JAC" WarrantyAmount="40" />
        <add City="NAS" WarrantyAmount="40" />
        <add City="ORL" WarrantyAmount="40" />
        <add City="PAN" WarrantyAmount="40" />
        <add City="PHO" WarrantyAmount="40" />
        <add City="PHX" WarrantyAmount="52" />
        <add City="RAL" WarrantyAmount="40" />
        <add City="SAN" WarrantyAmount="40" />
        <add City="SLC" WarrantyAmount="40" />
        <add City="SPE" WarrantyAmount="40" />
        <add City="TAL" WarrantyAmount="40" />
        <add City="TAM" WarrantyAmount="40" />
        <add City="TUL" WarrantyAmount="40" />
      </Cities>
    </WarrantyConfigSection>
    <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Warranty.InnerMessages" Endpoint="Warranty.Server" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="ida:FederationMetadataLocation" value="https://sts.davidweekleyhomes.com/FederationMetadata/2007-06/FederationMetadata.xml" />
        <add key="ida:Issuer" value="https://sts.davidweekleyhomes.com/adfs/ls/" />
        <add key="ida:ProviderSelection" value="productionSTS" />
        <add key="Environment" value="dev" />
        <add key="sendFeedbackAddresses" value="deran@headspring.com" />
        <add key="sendEmailsForTest" value="adam.hopkins@headspring.com, dane.schilling@headspring.com, deran@headspring.com, eduardo@headspring.com" />
        <add key="MvcMailer.BaseURL" value="" />
        <add key="CuteWebUI.AjaxUploader.TempDirectory" value="~/Uploads" />
        <add key="DocumentSharePath" value="C:\temp\dwh_files" />
        <add key="Warranty.BaseUri" value="https://localwarranty.davidweekleyhomes.com" />
        <add key="Survey.API.BaseUri" value="http://surveytest.davidweekleyhomes.com/api/" />
        <add key="Survey.API.TimeoutInMilliseconds" value="120000" />
        <add key="Accounting.API.BaseUri" value="http://accountingtest.davidweekleyhomes.com/api/" />
        <add key="Accounting.API.TimeoutInMilliseconds" value="120000" />
    </appSettings>
    <connectionStrings>
        <add name="WarrantyDB" connectionString="Server=.\sqlexpress;Database=Warranty;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="SecurityDB" connectionString="Server=wksql1;Database=Security;user id=headspringsql;password=281&gt;512;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <authorization>
            <deny users="?" />
        </authorization>
        <authentication mode="Windows" />
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" requestValidationMode="4.5" />
        <pages controlRenderingCompatibilityVersion="4.0">
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <httpHandlers>
            <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
        </httpHandlers>
        <httpModules>
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
            <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule, CuteWebUI.AjaxUploader" />
        </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="FormsAuthentication" />
            <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
            <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
            <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
        </modules>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
        </handlers>
    </system.webServer>
    <system.identityModel>
        <identityConfiguration>
            <audienceUris>
                <add value="https://localwarranty.davidweekleyhomes.com/" />
            </audienceUris>
            <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
                <authority name="http://sts.davidweekleyhomes.com/adfs/services/trust">
                    <keys>
                        <add thumbprint="49559766db58bea0d511d7ea25076dc71d37cc81" />
                    </keys>
                    <validIssuers>
                        <add name="http://sts.davidweekleyhomes.com/adfs/services/trust" />
                    </validIssuers>
                </authority>
            </issuerNameRegistry>
            <certificateValidation certificateValidationMode="None" />
        </identityConfiguration>
    </system.identityModel>
    <system.identityModel.services>
        <federationConfiguration>
            <cookieHandler requireSsl="false" />
            <wsFederation passiveRedirectEnabled="true" issuer="https://sts.davidweekleyhomes.com/adfs/ls/" realm="https://localwarranty.davidweekleyhomes.com/" requireHttps="false" />
        </federationConfiguration>
    </system.identityModel.services>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <dotless minifyCss="false" cache="true" web="false" />
    <elmah>
        <errorMail from="warranty@dwhomes.com" to="deran@headspring.com,dane.schilling@headspring.com,app-notify@dwhomes.com" subject="Warranty ELMAH Error" async="true" smtpPort="25" smtpServer="localhost" />
        <security allowRemoteAccess="false" />
    </elmah>
  <system.net>
    <mailSettings>
      <smtp from="warranty@dwhomes.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="SMTPRELAY.CORP.WEEKLEYHOMES.COM" port="25" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\temp\dwh_files\_emails" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>