@using System.Linq
@using Warranty.Core.Extensions
@model Warranty.Core.Features.AssignWSRs.AssignWSRsModel

@{
    ViewBag.Title = "Assign WSR's";
}

<h2>Assign WSR's</h2>
<div style="display: none;" data-bind="visible: true">
    <div class="container">
        <div id="communities">
            <div class="row">
                <div class="col-md-4">
                    <div class="searchContainer">
                        <label for="search">Search</label>
                        <input id="search" name="search" type="text" class="form-control" data-list=".default_list" autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="row"></div>
            <ul class="default_list row" data-bind="foreach: allCommunityAssignments">
                <li class="col-md-4">
                    <div class="itemContainer" style="min-height: 120px;">
                        <h3 data-bind="text: communityName"></h3>
                        <div class="communityDesc row" data-bind="attr: {'data-manage-assignment-line-item': $index() + 1}">
                            <div class="col-md-12">
                                <div class="hidden" data-bind="text: communityAssignmentId()"></div>
                                <label>Assignee</label>
                                <div class="editor" data-bind="css: { editing: assigneeEditing }"> 
                                    <a href="#" data-bind="text: selectedEmployeeName(), click: editLine, visible: selectedEmployeeName() != ''" class="view"></a>
                                    <a href="#" data-bind="click: editLine, visible: selectedEmployeeName() == ''" class="view">Unassigned</a>
                                </div>
                                <div id="employeeList" class="editor" data-bind="css: { editing: assigneeEditing }">
                                    <input id="employeeSearch" class="typeahead form-control edit" type="text" placeholder="Search Employee" data-bind="text: selectedEmployeeName()">
                                </div>
                                <div id="selectedLineEmployeeId" class="hidden" data-bind="value: selectedEmployeeId"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


@section modules
{
    <script>
        define('modelData', function() {
            return {
                initialCommunityAssignmentLines: @Html.Raw(Model.Communities.ToJson())
            }
        });
        
        define('dropdownData', function() {
            return {
                availableLookups: @Html.Raw(Model.Employees.Select(x => new { employeeName = x.Name, employeeId = x.EmployeeId }).ToJson())
            };
        });
    </script>
}