@using Warranty.Core.Extensions
@model Warranty.Core.Features.ManageProblemCodeCostCodes.ManageProblemCodeCostCodeModel

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label  for="cities">City:</label>
                <select class="form-control" id="cities" data-bind="options: cities, value:city, optionsText: 'text', optionsValue: 'value', optionsCaption: 'Select a City'"></select>
            </div>
        </div>
    </div>
    
        <!-- ko foreach: groupedCodes-->
    <div class="row" data-bind="foreach: $data">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" data-bind="text: problemCode"></h3>
                </div>
                <div class="panel-body">
                    <input class="form-control" placeholder="Enter Cost Code" type="text" data-bind="value: costCode"/>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
@section modules
{
    <script>
        define('modelData', function() {
            return {
                cities: @Html.Raw(Model.Cities.ToJson())
            }
        });
    </script>
}