@using Warranty.UI.Core.Helpers
@model IEnumerable<Warranty.Core.Features.ServiceCallSummary.ServiceCallSummaryModel.ServiceCallLine>

<div class="remove-list-style">
    <div class="clearfix"></div>
    <ul>
        @foreach (var line in Model)
        {
            @Html.HiddenFor(model => line.ServiceCallId, new {data_bind="serviceCallId"})

            <div id="allServiceCallLineItems" class="service-call-line">
                <li class="row">
                    <h4><small class="text-muted"><span class="glyphicon glyphicon-wrench"></span> @line.ProblemCode</small></h4>
                    <div class="col-md-9">
                        <p>@line.ProblemDescription</p>
                    </div>
                    <div class="col-md-3">
                        @if (!line.Completed)
                        {
                            <div class="pull-right">
                                <a href="#">Edit</a> | <a href="#">Close</a>
                            </div>
                        }
                    </div>
                </li>
                <div class="clearfix"></div>
            </div>
        }
    </ul>
</div>