@using Warranty.Core.Extensions
@model Warranty.Core.Features.AddServiceCallPurchaseOrder.AddServiceCallPurchaseOrderModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="margin-bottom-10">
                <h2 class="no-margin">
                    Create PO for Service Call #@*<a class="bread-crumb" href="@Url.Action("CallSummary", "ServiceCall", new {id = Model.ServiceCallLineItemId})"></a>*@
                </h2>
            </section>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group" data-bind="validationElement: vendorNumber, validationOptions: { insertMessages: false}">
                                <label for="vendor-search">Vendor</label>
                                <input type="text" id="vendor-search" class="form-control" autocomplete="off" placeholder="Type vendor name or vendor number" />
                                <span data-bind="validationMessage: vendorNumber" class="help-block"></span>
                                <span data-bind="text: vendorName"></span>
                                <span data-bind="text: vendorNumber"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <label class="radio-inline">
                                    <input type="radio" name="objectAccount" id="materialType" data-bind="checked: objectAccount" value="material"> Material
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="objectAccount" id="laborType" data-bind="checked: objectAccount" value="labor"> Labor
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            Ship To
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group">
                                <label for="deliveryInstruction">Delivery Instructions</label>
                                <input id="deliveryInstruction" type="text" class="form-control" data-bind="value: deliveryInstructions"/>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="control-group">
                                <label for="deliveryDate">Delivery Date</label>
                                <input id="deliveryDate" type="text" class="form-control" data-bind="value: deliveryDate"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Items</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><h5>Quantity</h5></div>
                        <div class="col-md-6"><h5>Description</h5></div>
                        <div class="col-md-2"><h5>Unit Cost</h5></div>
                        <div class="col-md-2"><h5 class="text-right">Subtotal</h5></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line1.quantity"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line1.description"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line1.unitCost"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p class="text-right" data-bind="text: '$' + line1.subTotal()"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line2.quantity"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line2.description"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line2.unitCost"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p class="text-right" data-bind="text: '$' + line2.subTotal()"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line3.quantity"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line3.description"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line3.unitCost"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p class="text-right" data-bind="text: '$' + line3.subTotal()"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line4.quantity"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line4.description"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line4.unitCost"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p class="text-right" data-bind="text: '$' + line4.subTotal()"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line5.quantity"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line5.description"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-group">
                                <input type="text" class="form-control" data-bind="value: line5.unitCost"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p class="text-right" data-bind="text: '$' + line5.subTotal()"></p>
                        </div>
                    </div>

                    <!-- ko foreach: allPurchaseOrderLines -->
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value: quantity"/>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" data-bind="value: description"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value: unitCost"/>
                        </div>
                        <div class="col-md-2">
                            <p class="text-right" data-bind="text: '$' + subTotal()"></p>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" data-bind="click: $root.addPurchaseOrderLine">+ Add a new line</a>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right" data-bind="text: 'Total $' + totalCost()"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="notes">Notes</label>
                                <textarea id="notes" class="form-control" data-bind="value: notes" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                        
                        <input type="" class="btn btn-info" data-bind="click: submitPurchaseOrder"/>
                        <a class="btn btn-link" data-bind="attr:{'href': '@Url.Action("LineItemDetail", "ServiceCall")/' + serviceCallLineItemId}">Cancel</a>
                        @*<a href="@Url.Action("LineItemDetail", "ServiceCall", new { id = Model.ServiceCallLineItemId })" class="btn btn-link">Cancel</a>*@
                    </div>

            </div>
        </div>
    </div>
</div>

@section modules
{
    <script>
        define('modelData', function() {
            return {
                serviceCallLineItemId: @Html.Raw(Model.ServiceCallLineItemId.ToJson())
            };
        });

        define('dropdownData', function() {

        });
    </script>
}