@model Warranty.Core.Features.CreateServiceCallCustomerSearch.CustomerSearchModel

<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row text-center">
                    <h4>Create Service Call Request</h4>
                </div>
                <div class="row text-center">
                    <div>
                        Step 1: Customer Selection
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <input type="text" id="customer-search" class="text-box" autocomplete="off" placeholder="Type Homeowner, Address, or Job Number" />
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
