<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row text-center">
                    <h4>Create Service Call Request</h4>
                </div>
                <div class="row text-center">
                    <div>
                        Step 1: Customer Selection
                    </div>
                </div>
                <br/>
                <input type="text" id="customer-search" class="form-control" autocomplete="off" placeholder="Type Homeowner, Address, or Job Number" />
            </div>
        </div>
        <br/>
    </div>
</div>
