<div class="container">
<h2>Create Service Call Request</h2>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Step 1: Customer Selection
            </div>
            <div class="panel-body">
                <input type="text" id="customer-search" class="form-control" autocomplete="off" placeholder="Type Homeowner, Address, or Job Number" />
            </div>
        </div>
    </div>
</div>
