<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LotusAttachmentLocation" value="C:\WarrantyAttachmenets" />
    <add key="ServiceCallFlatFileLocation" value="C:\LotusNotesExports\WarrantyData.csv" />
    <add key="CustomerFlatFileLocation" value="C:\LotusNotesExports\CustomerData.csv" />
    <add key="MasterCommunityFlatFileLocation" value="C:\LotusNotesExports\MasterCommunityData.csv" />
    <add key="JobOptionFlatFileLocation" value="C:\LotusNotesExports\JobOptionsData.csv" />
  </appSettings>
  <connectionStrings>
    <add name="WarrantyDB" connectionString="Server=.\SQLEXPRESS;Database=Warranty;Trusted_Connection=true;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>