@using Warranty.Core.Enumerations
@model Warranty.Core.Features.AverageDaysClosedWidget.AverageDaysClosedWidgetModel

<div class="panel panel-info dashboard-widget">
    <div class="panel-heading">
        <div class="dashboard-widget-title">AVG. DAYS TO CLOSED</div>
    </div>
    <div class="panel-body">
        <a href="@Url.Action("Index", "Stats", new{id=StatView.AvgDaysClosed.DisplayName})">
            @if (Model.AvgDaysClosedThisMonth == 0)
            {
                <div class="dashboard-widget-number">N/A</div>
            }
            else
            {
                <div class="dashboard-widget-number">@Model.AvgDaysClosedThisMonth</div>
            }
            @if (Model.AvgDaysClosedLastMonth == 0)
            {
                <div class="dashboard-widget-previous-number">N/A last month</div>
            }
            else
            {
                <div class="dashboard-widget-previous-number">@Model.AvgDaysClosedLastMonth last month</div>
            }
        </a>
    </div>
</div>
