@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallsWidget.ServiceCallsWidgetModel

@if (!Model.EscalatedServiceCalls.Any())
{
    <div class="well-sm">
        <em>No Escalated calls.</em>
    </div>
}
else
{
<div class="panel-group" id="escalated_list">
    @foreach (var employee in Model.RepresentativeWithEscalatedCalls)
    {
        <div class="panel list-group-item no-left-right-padding">
            <a data-toggle="collapse" data-parent="#escalated_list" href="#collapseEscalatedCalls@(employee.EmployeeNumber)" class="text-capitalize accordion-toggle collapsed">@employee.Name</a> <span class="badge">@employee.ServiceCallsCount</span>
            <div id="collapseEscalatedCalls@(employee.EmployeeNumber)" class="collapse panel-body no-left-right-padding">
                @foreach (var line in Model.EscalatedServiceCalls.Where(x => x.AssignedToEmployeeNumber == employee.EmployeeNumber))
                {
                    @Html.Partial("_ServiceCallListItem", line)
                }
            </div>
        </div>

    }
</div>
}