@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallsWidget.ServiceCallsWidgetModel

@if (!Model.MyServiceCalls.Any())
{
    <div class="well-sm">
        <em>No service calls assigned.</em>
    </div>
}
else
{
    foreach (var line in Model.MyServiceCalls)
    {
        <div class="my-service-call hide">
            @Html.Partial("_ServiceCallListItem", line)
        </div>


    }
    if (Model.MyServiceCalls.Count() > 5)
    {
        <div class="padding-5">
            <span class="text-muted">Show:</span> 
            <a href="#" class="show-more-service-calls">5</a>
            @if (Model.MyServiceCalls.Count() > 5)
            {
                <span> | <a href="#" class="show-more-service-calls">10</a></span>
            }
            @if (Model.MyServiceCalls.Count() > 10)
            {
                <span> | <a href="#" class="show-more-service-calls">All</a></span>
            }
        </div>
    }
}