@using Warranty.Core.Enumerations
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.PercentClosedWithinSevenDaysWidget.PercentClosedWithinSevenDaysWidgetModel

<div class="panel panel-info dashboard-widget">
    <div class="panel-heading">
        <div class="dashboard-widget-title">% WITHIN 7 DAYS</div>
    </div>
    <div class="panel-body">
        <a href="@Url.Action("Index", "Stats", new{id=StatView.PercentClosed.DisplayName})">
            <div class="dashboard-widget-number">@Format.Percentage(Model.PercentClosedThisMonth)</div>
            <div class="dashboard-widget-previous-number">@Format.Percentage(Model.PercentClosedLastMonth) closed last month</div>
        </a>
    </div>
</div>
