@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ServiceCallsWidget.ServiceCallsWidgetModel

@if (!Model.SpecialProjectServiceCalls.Any())
{
    <div class="well-sm">
        <em>No Special Projects.</em>
    </div>
}
else
{
<div class="panel-group" id="specialproject_list">
    @foreach (var employee in Model.RepresentativeWithSpecialProjectCalls)
    {
        <div class="panel list-group-item">
            <a data-toggle="collapse" data-parent="#specialproject_list" href="#collapseSpecialProjectCalls@(employee.EmployeeNumber)" class="text-capitalize accordion-toggle collapsed">@employee.Name</a> <span class="badge">@employee.ServiceCallsCount</span>

            <div id="collapseSpecialProjectCalls@(employee.EmployeeNumber)" class="collapse panel-body">
                @foreach (var line in Model.SpecialProjectServiceCalls.Where(x => x.AssignedToEmployeeNumber == employee.EmployeeNumber))
                {
                    @Html.Partial("_ServiceCallListItem", line)
                }
            </div>
        </div>
    }

</div>
}