@using Warranty.Core.Enumerations
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.WarrantyDollarsSpentWidget.WarrantyDollarsSpentWidgetModel

<div class="panel panel-info dashboard-widget">
    <div class="panel-heading">
        <div class="dashboard-widget-title">DOLLARS SPENT</div>
    </div>
    <div class="panel-body">
        <a href="@Url.Action("Index", "Stats", new{id=StatView.DollarsSpent.DisplayName})">
            <div class="dashboard-widget-number">@Format.MoneyWithoutDecimal(Model.AmountSpentThisMonth)</div>
            <div class="dashboard-widget-previous-number">@Format.MoneyWithoutDecimal(Model.AmountSpentLastMonth) last month</div>
        </a>
    </div>
</div>
