@model Warranty.Core.Features.MyServiceTeamWidget.MyServiceTeamWidgetModel

<div>
    <div id="my_overdue_service_chart"></div>
</div>

<script type="text/javascript">
    require(['jquery', 'highcharts'], function ($) {

        $('#my_overdue_service_chart').highcharts({
            title: {
                text: 'My Team - Overdue',
                x: 0 //center
            },
            //subtitle: {
            //    text: '',
            //    x: -20
            //},
            xAxis: {
                categories: [@Html.Raw(Model.Months)]
            },
            yAxis: {
                title: {
                    text: 'Total Calls'
                },
                min: 0,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                //valueSuffix: 'K'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [@Html.Raw(Model.SeriesDataOverdue)]
        });

    });
</script>