@model dynamic

@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="col-md-8">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#my_service_calls" role="tab" data-toggle="tab">My <span class="label label-default">3</span></a></li>
            <li><a href="#overdue_calls" role="tab" data-toggle="tab">Overdue <span class="label label-danger">0</span></a></li>
            <li><a href="#escalated_calls" role="tab" data-toggle="tab">Escalated <span class="label label-default">0</span></a></li>
            <li><a href="#special_projects" role="tab" data-toggle="tab">Special Projects <span class="label label-default">0</span></a></li>
            <li class="pull-right"><span class="widget-header">Service Calls</span></li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active" id="my_service_calls">
                <div class="service-call-line">
                    <div class="col-md-5">
                        <div class="col-md-1"><span class="label label-info">1</span></div>
                        <div class="col-md-10">
                            <a>Racer - 7878 Crestwood Dr.</a><br/>
                            <small>Date Added: 7/30/2014</small>
                        </div>
                    </div>
                    <div class="col-md-3"><span class="glyphicon glyphicon-earphone"></span> 123-123-1234</div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-time"></span> 2 Days Left<br/>
                        <div class="progress time-remaining-progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="6" style="width: 70%">
                                <span class="sr-only">70% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Reassign</a></li>
                            <li><a href="#">Add Note</a></li>
                            <li><a href="#">Change Homeowner</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="service-call-line">
                    <div class="col-md-5">
                        <div class="col-md-1"><span class="label label-info">1</span></div>
                        <div class="col-md-10">
                            <a>Racer - 7878 Crestwood Dr.</a><br/>
                            <small>Date Added: 7/30/2014</small>
                        </div>
                    </div>
                    <div class="col-md-3"><span class="glyphicon glyphicon-earphone"></span> 123-123-1234</div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-time"></span> 2 Days Left<br/>
                        <div class="progress time-remaining-progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="6" style="width: 70%">
                                <span class="sr-only">70% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="btn btn-default pull-right"><span class="glyphicon glyphicon-cog"></span></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="service-call-line">
                    <div class="col-md-5">
                        <div class="col-md-1"><span class="label label-info">1</span></div>
                        <div class="col-md-10">
                            <a>Racer - 7878 Crestwood Dr.</a><br/>
                            <small>Date Added: 7/30/2014</small>
                        </div>
                    </div>
                    <div class="col-md-3"><span class="glyphicon glyphicon-earphone"></span> 123-123-1234</div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-time"></span> 2 Days Left<br/>
                        <div class="progress time-remaining-progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="6" style="width: 70%">
                                <span class="sr-only">70% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="btn btn-default pull-right"><span class="glyphicon glyphicon-cog"></span></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="service-call-line">
                    <div class="col-md-5">
                        <div class="col-md-1"><span class="label label-info">1</span></div>
                        <div class="col-md-10">
                            <a>Racer - 7878 Crestwood Dr.</a><br/>
                            <small>Date Added: 7/30/2014</small>
                        </div>
                    </div>
                    <div class="col-md-3"><span class="glyphicon glyphicon-earphone"></span> 123-123-1234</div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-time"></span> 5 Days Left<br/>
                        <div class="progress time-remaining-progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="7" style="width: 30%">
                                <span class="sr-only">30% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="btn btn-default pull-right"><span class="glyphicon glyphicon-cog"></span></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="service-call-line">
                    <div class="col-md-5">
                        <div class="col-md-1"><span class="label label-info">1</span></div>
                        <div class="col-md-10">
                            <a>Racer - 7878 Crestwood Dr.</a><br/>
                            <small>Date Added: 7/30/2014</small>
                        </div>
                    </div>
                    <div class="col-md-3"><span class="glyphicon glyphicon-earphone"></span> 123-123-1234</div>
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-time"></span> <strong class="text-red">1</strong> Day Left<br/>
                        <div class="progress time-remaining-progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="7" style="width: 90%">
                                <span class="sr-only">90% Complete (warning)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="btn btn-default pull-right"><span class="glyphicon glyphicon-cog"></span></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="tab-pane" id="escalated_calls">Escalated Placeholder</div>
            <div class="tab-pane" id="overdue_calls">Overdue Calls Placeholer</div>
            <div class="tab-pane" id="special_projects">Special Projects Placeholder</div>
        </div>
    </div>
</div>
