@using Warranty.Core.Enumerations
@model dynamic

@{
    ViewBag.Title = "Home";
}

<div class="container">
    @if (User.IsInRole(UserRoles.WarrantyServiceRepresentative))
    { 
        <div class="col-md-12">
            @Html.Action("WarrantyServiceRepServiceCallsWidget", "Home")
        </div>
    }
    @if (User.IsInRole(UserRoles.WarrantyServiceManager) || User.IsInRole(UserRoles.WarrantyServiceCoordinator) || User.IsInRole(UserRoles.WarrantyAdmin))
    {
        <div class="row">
            <div class="col-md-8">
                @Html.Action("ServiceCallsWidget", "Home")
            </div>
            <div class="col-md-4">
                @Html.Action("ToDoWidget", "Home")
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.Action("WarrantyDollarsSpentWidget", "Home")
            </div>
        </div>
    }
</div>
