@model Warranty.Core.Features.MyServiceTeamWidget.MyServiceTeamWidgetModel
<div class="col-md-8">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#my_service_team_open" role="tab" data-toggle="tab">Open</a></li>
        <li><a href="#my_service_team_closed" role="tab" data-toggle="tab">Closed</a></li>
        <li><a href="#my_service_team_overdue" role="tab" data-toggle="tab">Overdue</a></li>
        <li class="pull-right"><span class="widget-header">Team Charts</span></li>
    </ul>
        
    <div class="tab-content">
        <div class="tab-pane active" id="my_service_team_open">
            @Html.Partial("_WidgetMyServiceTeamOpenChart", Model)
        </div>
        <div class="tab-pane" id="my_service_team_closed">
            @Html.Partial("_WidgetMyServiceTeamClosedChart", Model)
        </div>
        <div class="tab-pane" id="my_service_team_overdue">
            @Html.Partial("_WidgetMyServiceTeamOverdueChart", Model)
        </div>
    </div>
</div>
