@using Warranty.Core.Enumerations
@using Warranty.Core.ToDoInfrastructure.ConcreteTodos
@using Warranty.UI.Core.Helpers
@model Warranty.Core.Features.ToDoWidget.ToDoWidgetModel

@{
    var toDoList = Model.ToDoTypes.Where(x => Model.ToDos.Any(y => y.Type == x)).Select(x => new SelectListItem { Text = x.DisplayName, Value = @Css.ToDoClass(x) }).ToList();
    var toDoListStage = Model.ToDos.Where(t => (t as ToDoJobStageChangedTask) != null).Select(t => t as ToDoJobStageChangedTask)
        .Select(t => Css.ToDoJobStageChangedTaskCleanDescription(t.Model.Description))
        .Distinct()
        .Select(t => new SelectListItem { Text = t, Value = Css.ToDoJobStageChangedTaskClass(t) }).ToList();
    toDoList.AddRange(toDoListStage);
    toDoList = toDoList.OrderBy(i => i.Text).ToList();

}
<div class="col-md-12">
    <div class="todo-header">
        <span>To Dos</span>
        @Html.HiddenFor(x => Model.SelectedToDo, new { id = "initialToDo" })
        @Html.DropDownList("ToDoSelect", toDoList, "All", new { id = "toDoSelect", @class = "dropdown form-control" })
        @*@Model.ToDos.Any(t => t as JobChangedTask)*@
    </div>
    <div class="todo-container">
        @if (Model.ToDos.Any())
        {
            foreach (var toDo in Model.ToDos)
            {
                @Html.Partial(toDo.ViewName, toDo.ViewModel)
            }

            if (Model.ToDos.Count() > 5)
            {
                <div id="ToDo_Display_Size_Controls">
                    <span class="text-muted">Show:</span>
                    <a href="#" class="show-more-todos">5</a>
                    @if (Model.ToDos.Count() > 5)
                    {
                        <span> | <a href="#" class="show-more-todos">10</a></span>
                    }
                    @if (Model.ToDos.Count() > 10)
                    {
                        <span> | <a href="#" class="show-more-todos">All</a></span>
                    }
                </div>
            }
            <input type="hidden" id="Last_Display_Size" value="5" />
        }
        else
        {
            <em>No To Dos Today.</em>
        }

    </div>
</div>
