update Homeowners set HomePhone = REPLACE(REPLACE(REPLACE(REPLACE(HomePhone, ')', ''), '(', ''), ' ', ''),'-','')
update HomeownerContacts set ContactValue = REPLACE(REPLACE(REPLACE(REPLACE(ContactValue, ')', ''), '(', ''), ' ', ''),'-','') where ContactType = 1