<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><span class="logged-in-user">Logged in as: @User.Identity.Name</span></li>
        <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Sample Help Section 2</a>
            <ul class="dropdown-menu">
                <li><a href="#">Sample Help Link 1</a></li>
                <li><a href="#">Sample Help Link 2</a></li>
                <li><a href="#">Sample Help Link 3</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Sample Help Section 2</a>
            <ul class="dropdown-menu">
                <li><a href="#">Sample Help Link 4</a></li>
                <li><a href="#">Sample Help Link 5</a></li>
                <li><a href="#">Sample Help Link 6</a></li>
            </ul>
        </li>
        <li><a href="#feedbackModal" data-toggle="modal">Contact Help Desk</a></li>
        <li class="divider"></li>
    </ul>
</li>
