<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Accounting.API.BaseUri" value="http://accountingtest.davidweekleyhomes.com/api/" />
    <add key="Accounting.API.TimeoutInMilliseconds" value="120000" />
  </appSettings>
  <connectionStrings>
    <add name="WarrantyDB" connectionString="Server=.\sqlexpress;Database=Warranty_Test;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>