<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accounting.Client" version="1.1.1135.0" targetFramework="net45" />
  <package id="AutoMapper" version="3.0.0" targetFramework="net45" />
  <package id="Common.Core" version="1.1.124.0" targetFramework="net45" />
  <package id="Common.Messages" version="1.1.124.0" targetFramework="net45" />
  <package id="Common.Security" version="1.1.124.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="CsvHelper" version="2.8.0" targetFramework="net45" />
  <package id="Enumeration" version="2.0.0" targetFramework="net45" />
  <package id="FluentValidation" version="5.1.0.0" targetFramework="net45" />
  <package id="JobService.Client" version="1.0.546.0" targetFramework="net45" />
  <package id="JobService.Enumerations" version="1.0.444.0" targetFramework="net45" />
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NPoco" version="2.5.76" targetFramework="net45" />
  <package id="NServiceBus" version="4.7.5" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.7.5" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="Survey.Client" version="1.0.0.65" targetFramework="net45" />
  <package id="TIPS.Events" version="1.1981.0.0" targetFramework="net45" />
  <package id="Yay.Enumeration" version="0.5.1" targetFramework="net45" />
</packages>