<html>
    <head>
        <title>Notification Email</title>
        <style>
            .message-error {
                color: red;
            }
        </style>
    </head>
    <body>
        @RenderBody()
        <div>
            <p>Thank you,</p>
            <p>David Weekley Homes</p>
            <hr />
            <p><strong>NOTE:</strong> Please do not reply to this email. This account is not monitored.</p>
        </div>
    </body>
</html>