.fullscreen-report-container {
			position: absolute;
			top: 236px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}

		.fullscreen-report-container .dataTables_wrapper {
			margin: 0 2px;
		}

		.report-selector { margin: 20px 0 10px 0; }
		.report-selector select { width: 320px; }


		.table {
			font-size: 12px;
		}
		.dataTables_scrollHeadInner table.table thead tr th
		{
			line-height: 12px;
		}

		td.nowrap, th.nowrap { white-space: nowrap; }

		.paging_bootstrap { padding-top: 8px; }