/* VARIABLES */
@danger-bg: #f2dede;
@highlight-bg: #FFF2A8;
@gray-lighter: #f7f7f7;

.main-container {
    margin-top: 108px;
    padding: 0 10px;
}

.logged-in-user {
    background-color: #eee;
    color: #666;
    display: inline-block;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.widget-header {
    font-size: 1.6em;
    color: #666;
    padding: 0 10px;
}

.widget-header-bar {
    font-size: 1.2em;
    background: #f7f7f7;
    padding: 5px;
    color: #666;
}

.progress {
    height: 7px;
}

.time-remaining-progress {
    margin-top: 10px;
}

.service-call-line {
    border-bottom: solid 1px #e7e7e7;
    padding: 5px 0;
    margin: 0;
}

    .service-call-line:hover {
        background: @gray-lighter;
    }

.text-red {
    color: #D9534F;
}


.label, badge {
    &-warranty-one-year {
        background-color: #5cb85c;
    }
}

.label, badge {
    &-warranty-two-year {
        background-color: #FFBF00;
    }
}

.label, badge {
    &-warranty-three-nine-year {
        background-color: #f60;
    }
}

.label, badge {
    &-warranty-ten-plus-year {
        background-color: #d9534f;
    }
}

.special-project {
    background-color: #5bc0de;
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    height: 60px;
}

.opened-for {
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    height: 60px;
}

.opened-for p {
    font-size: xx-small;
    color: #FFFFFF;
}

.opened-for {
    &-eight-plus-day {
        background-color: #d9534f;
    }
}

.opened-for {
    &-less-seven-day {
        background-color: #5cb85c;
    }
}

.opened-for {
    &-seven-day {
        background-color: #0044cc;
    }
}

.amount-spent {
    border-radius: 5px;
    text-align: center;
    font-size: small;
    color: #FFFFFF;
    height: 20px;
    margin : 5px;
    padding: 2px;
}

.amount-spent {
    &-red {
        background-color: #d9534f;
    }
}

.amount-spent {
    &-green {
        background-color: #5cb85c;
    }
}

.center-element{
    float: none;
    margin: 0 auto;
}


.no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.nowrap-tooltip .tooltip-inner {
    white-space: pre;
    max-width: none;
}

.amount-spent-container {
    height: 200px;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.amount-spent-sub-header{
    font-size: .7em;
    padding: 5px 5px 0 0;
}

.amount-spent-header {
    border: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 1.6em;
    color: #666;
    padding-left: 15px;
    border-bottom: none;
}


.todo {
    color: #666;
    padding-left: 15px;
    min-height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.todo-header {
    font-size: 1.6em;
    color: #666;
    padding-left: 5px;
    margin-bottom: 5px;
    border-bottom: none;
}

.todo-container {
    border-left: 1px dashed #ddd;
}

.todo-header select {
    margin-left: 15px;
    font-size: small;
}

.wrap-text {
    overflow-x: hidden;
    word-wrap: break-word;
}

.service-call-request-icon {
    background: blue;
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding-left: -200px;
}

.todo-widget-separator-line {
    height: 1px;
    background: #ddd;
    overflow: hidden;
    float:left;
    width: 15px;
    margin-top:10px;
}

.todo-widget-data-container {
    margin-left:-25px;
    overflow: hidden;
}

.todo-widget-element {
    padding-left: 35px;
}

.todo-widget-action-buttons {
    position: absolute;
    right: 0px;
}

.approve-todo {
    color: #5cb85c;
    font-weight: bold;
}

.deny-todo {
    color: #d9534f;
    font-weight: bold;
}

.service-call-widget-job-number {
    margin-left: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.tt-query {
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion, .empty-message {
    padding: 3px 20px;
    font-size: .9em;
    line-height: 1.5em;
    width: 250px;
    border-bottom: solid 1px #ccc;
}

.tt-suggestion.tt-is-under-cursor,.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion.tt-is-under-cursor .text-muted,.tt-suggestion.tt-cursor .text-muted{
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.label, badge {
    &-open-service-call {
        background-color: #5cb85c;
    }
}

.label, badge {
    &-requested-service-call {
        background-color: #FFBF00;
    }
}

.label, badge {
    &-closed-service-call {
        background-color: #d9534f;
    }
}

.remove-list-style ul, .remove-list-style ul li {
    list-style: none;
    margin: 0%;
    padding: 0%;
}
.delete-group-item .glyphicon-remove{
  opacity: 0;
}

a.delete-group-item:hover {
    background: @danger-bg;
}

.delete-group-item:hover .glyphicon-remove{
  opacity: 1;
}

.highlight {
    background: @highlight-bg;
}
