/* VARIABLES */
@danger-bg: #f2dede;
@highlight-bg: #d4dde3; //#FFF2A8;
@gray-lighter: #f7f7f7;

.main-container {
    margin-top: 108px;
    padding: 0 10px;
}

.logged-in-user {
    background-color: #eee;
    color: #666;
    display: inline-block;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.widget-header {
    font-size: 1.6em;
    color: #666;
    padding: 0 10px;
}

.widget-header-bar {
    font-size: 1.2em;
    background: #f7f7f7;
    padding: 5px;
    color: #666;
}

.progress {
    height: 7px;
}

.time-remaining-progress {
    margin-top: 10px;
}

.service-call-line {
    border-bottom: solid 1px #e7e7e7;
    padding: 5px 0;
    margin: 0;
}

    .service-call-line:hover {
        background: @gray-lighter;
    }

.text-red {
    color: #D9534F;
}

.text-larger {
    font-size: 1.2em;
}

.no-margin{ margin: 0;}

.margin-bottom-15 { margin: 0 0 15px 0;}

.label.label-info.muted {
    font-weight: normal;
    background: #84D0E6;
}

.label, badge {
    &-warranty-one-year {
        background-color: #5cb85c;
    }
}

.label, badge {
    &-warranty-two-year {
        background-color: #FFBF00;
    }
}

.label, badge {
    &-warranty-three-nine-year {
        background-color: #f60;
    }
}

.label, badge {
    &-warranty-ten-plus-year {
        background-color: #d9534f;
    }
}

.special-project {
    background-color: #5bc0de;
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    height: 60px;
}

.opened-for {
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    height: 60px;
    width: 60px;
}

.opened-for p {
    font-size: xx-small;
    color: #FFFFFF;
}

.opened-for {
    &-eight-plus-day {
        background-color: #d9534f;
    }
}

.opened-for {
    &-less-seven-day {
        background-color: #5cb85c;
    }
}

.opened-for {
    &-seven-day {
        background-color: #0044cc;
    }
}

.amount-spent {
    border-radius: 5px;
    text-align: center;
    font-size: small;
    color: #FFFFFF;
    height: 20px;
    margin : 5px;
    padding: 2px;
}

.amount-spent {
    &-red {
        background-color: #d9534f;
    }
}

.amount-spent {
    &-green {
        background-color: #5cb85c;
    }
}

.center-element{
    float: none;
    margin: 0 auto;
}


.no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.nowrap-tooltip .tooltip-inner {
    white-space: pre;
    max-width: none;
}

.amount-spent-container {
    height: 200px;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.amount-spent-sub-header{
    font-size: .7em;
    padding: 5px 5px 0 0;
}

.amount-spent-header {
    border: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 1.6em;
    color: #666;
    padding-left: 15px;
    border-bottom: none;
}


.todo {
    color: #666;
    padding-left: 15px;
    min-height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.todo-header {
    font-size: 1.6em;
    color: #666;
    padding-left: 5px;
    margin-bottom: 5px;
    border-bottom: none;
}

.todo-container {
    border-left: 1px dashed #ddd;
}

.todo-header select {
    margin-left: 15px;
    font-size: small;
}

.wrap-text {
    overflow-x: hidden;
    word-wrap: break-word;
}

.service-call-request-icon {
    background: blue;
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding-left: -200px;
}

.todo-widget-separator-line {
    height: 1px;
    background: #ddd;
    overflow: hidden;
    float:left;
    width: 15px;
    margin-top:10px;
}

.todo-widget-data-container {
    margin-left:-25px;
    overflow: hidden;
}

.todo-widget-element {
    padding-left: 35px;
}

.todo-widget-action-buttons {
    position: absolute;
    right: 0px;
}

.approve-todo {
    color: #5cb85c;
    font-weight: bold;
}

.deny-todo {
    color: #d9534f;
    font-weight: bold;
}

.service-call-widget-job-number {
    margin-left: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.tt-query {
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion, .empty-message {
    padding: 3px 20px;
    font-size: .9em;
    line-height: 1.5em;
    width: 250px;
    border-bottom: solid 1px #ccc;
}

.tt-suggestion.tt-is-under-cursor,.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion.tt-is-under-cursor .text-muted,.tt-suggestion.tt-cursor .text-muted{
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.label, badge {
    &-open-service-call, &-open-service-line-item {
        background-color: #5cb85c;
    }
}

.label, badge {
    &-requested-service-call, &-requested-service-line-item {
        background-color: #FFBF00;
    }
}

.label, badge {
    &-closed-service-call, &-closed-service-line-item {
        background-color: #d9534f;
    }
}

.label, badge {
    &-in-progress-service-line-item {
        background-color: #FFBF00;
    }
}

.twitter-typeahead {
  width: 100%;
}

.remove-list-style ul, .remove-list-style ul li {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.remove-list-style ul.border-bottom-1-solid li {
    border-bottom: 1px solid #DDD;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.delete-group-item .glyphicon-remove{
  opacity: 0;
}

a.delete-group-item:hover {
    background: @danger-bg;
}

.delete-group-item:hover .glyphicon-remove{
  opacity: 1;
}

.highlight {
    background: @highlight-bg;
}

.bootbox-confirm{
    margin-top: 50px;
}

.assign-employee-community {
    font-weight: bold;
}

.assign-employee-community-icon {
    background: purple;
    float: left;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding-left: -200px;
}

.assign-employee-community-button {
    position: absolute;
    right: 0px;
}
//Testing inline-edit via ko.
.edit {
    display: none;
}

.editing .edit {
    display: block;
}

.editing .view {
    display: none;
}

.edit-line-item:hover, .edit-line-item:focus{
    background: @highlight-bg;
}

.edit-line-item .glyphicon-pencil, .edit-line-item .btn-hover-show{
    opacity: 0;
}

.edit-line-item:hover .glyphicon-pencil, .edit-line-item:focus .glyphicon-pencil, .edit-line-item:hover .btn-hover-show{
    opacity: 1;
}

.top-buffer { 
    margin-top: 0.5em; 
}

.bottom-buffer {
    margin-bottom: 0.5em;
}

.margin-top-13 { 
    margin-top: 13px;
}

.margin-bottom-10 { 
    margin-bottom: 10px;
}

.margin-bottom-3 { 
    margin-bottom: 3px;
}

.margin-bottom-4 { 
    margin-bottom: 4px;
}

.margin-right-10 { 
    margin-right: 10px;
}

.padding-bottom-3 { 
    padding-bottom: 3px;
}

.padding-top-7 { 
    padding-top: 7px;
}

.padding-left-15 { 
    padding-left: 15px;
}

.text-align-right {
    text-align: right;
}

.no-padding{ padding: 0;}
.no-top-padding{ padding-top: 0;}
.no-bottom-padding{ padding-bottom: 0;}
.no-right-padding{ padding-right: 0;}
.no-left-padding{ padding-left: 0;}

.no-margin{ margin: 0;}
.no-top-margin{ margin-top: 0;}
.no-bottom-margin{ margin-bottom: 0;}
.no-right-margin{ margin-right: 0;}
.no-left-margin{ margin-left: 0;}

.float-right-non-xs-screen {
    float: right;
}

.service-call-header-buttons{
    margin-top:0px;
}

.service-call-header-buttons .btn{
    margin-left: 10px;
}

.popup-action-with-message {
    background-color: #E6E6E6;
    width: 300px;
    display: none;
    padding: 10px;
    border-radius: 5px;
    border: solid ;
    border-color: lightgray;
    border-width: 1px;
}

.popup-action-with-message textarea {
    width: 100%;
}

.dashboard-widget-title{
    font-size: 1.2em;
    text-align: center;
}

.dashboard-widget-number{
    font-size: 4em;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.dashboard-widget-footnote{
    color: #999;
    text-align: center;
    margin: 10px 0 5px 0;
}

@media (max-width: 767px) {
    .float-right-non-xs-screen {
        float: none !important;
    }

    .text-align-right {
        text-align: left;
    }

    .margin-top-13 {
        margin-top: 0;
    }

    .edit-line-item > row > .col-md-12 {
        padding-left: 0;
    }    
}
