/* VARIABLES */
@gray-lighter: #f7f7f7;

.main-container {
    margin-top: 108px;
    padding: 0 10px;
}

.logged-in-user {
    background-color: #eee;
    color: #666;
    display: inline-block;
    font-size: 0.8em;
    margin: 5px 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.widget-header {
    font-size: 1.6em;
    color: #666;
    padding: 0 10px;
}

.widget-header-bar {
    font-size: 1.2em;
    background: #f7f7f7;
    padding: 5px;
    color: #666;
}

.progress {
    height: 7px;
}

.time-remaining-progress {
    margin-top: 10px;
}

.service-call-line {
    border-bottom: solid 1px #e7e7e7;
    padding: 5px 0;
    margin: 0;
}

    .service-call-line:hover {
        background: @gray-lighter;
    }

.text-red {
    color: #D9534F;
}


.label, badge {
    &-warranty-one-year {
        background-color: #5cb85c;
    }
}

.label, badge {
    &-warranty-two-year {
        background-color: #FFBF00;
    }
}

.label, badge {
    &-warranty-three-nine-year {
        background-color: #f0ad4e;
    }
}

.label, badge {
    &-warranty-ten-plus-year {
        background-color: #d9534f;
    }
}

.special-project {
    background-color: #5bc0de;
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    height: 60px;
}

.opened-for {
    border-radius: 10px;
    text-align: center;
    font-size: xx-large;
    color: #FFFFFF;
    height: 60px;
}

.opened-for p {
    font-size: xx-small;
    color: #FFFFFF;
}

.opened-for {
    &-eight-plus-day {
        background-color: #d9534f;
    }
}

.opened-for {
    &-less-seven-day {
        background-color: #5cb85c;
    }
}

.opened-for {
    &-seven-day {
        background-color: #0044cc;
    }
}

.amount-spent {
    border-radius: 5px;
    text-align: center;
    font-size: small;
    color: #FFFFFF;
    height: 20px;
    margin : 5px;
    padding: 2px;
}

.amount-spent {
    &-red {
        background-color: #d9534f;
    }
}

.amount-spent {
    &-green {
        background-color: #5cb85c;
    }
}

.center-element{
    float: none;
    margin: 0 auto;
}


.no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.nowrap-tooltip .tooltip-inner {
    white-space: pre;
    max-width: none;
}

.amount-spent-container {
    height: 200px;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.amount-spent-sub-header{
    font-size: .7em;
    padding: 5px 5px 0 0;
}

.amount-spent-header {
    border: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 1.6em;
    color: #666;
    padding-left: 15px;
    border-bottom: none;
}


.todo {
    border-top: 1px solid #ddd;
    color: #666;
    padding-left: 15px;
    border-bottom: none;
}
.todo-header {
    border: 1px solid #ddd;
    background: #f7f7f7;
    font-size: 1.6em;
    color: #666;
    padding-left: 15px;
    border-bottom: none;
}

.todo-container {
    border: 1px solid #ddd;
    border-top: none;
}

.todo-header select {
    margin-left: 15px;
    font-size: small;
}

.wrap-text {
    overflow-x: hidden;
    word-wrap: break-word;
}
