/* subnav */
@media (max-width: 979px) {
	.subnav {
		position: static;
		margin-top: 10px;
		top: auto;
		z-index: auto;
		width: auto;
		height: auto;
		background: #fff; /* whole background property since we use a background-image for gradient */
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
 
	.subnav .nav > li {
		float: none;
	}
 
	.subnav .nav > li > a {
		border: 0;
	}
 
	.subnav .nav > li + li > a {
		border-top: 1px solid #e5e5e5;
	}
 
	.subnav .nav > li:first-child > a,
	.subnav .nav > li:first-child > a:hover {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}

	.navbar .nav-collapse .nav.pull-right { float: right; }

	.navbar-fixed-top { margin-bottom: 0;}

	.nav-collapse .nav { margin: 0; }

	.nav-extra {
		float: right;
	}

	.brand.brand-module {
		float: left;
		padding-top: 10px;
		padding-left: 32px;
	}
}
 
@media (min-width: 980px) {
  
	.subnav-fixed {
		position: fixed;
		top: 40px;
		left: 0;
		right: 0;
		z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
		border-color: #d5d5d5;
		border-width: 0 0 1px; /* drop the border on the fixed edges */
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
	}
  
	.subnav-fixed .nav {
		width: 938px;
		margin: 0 auto;
		padding: 0 1px;
	}
  
	.subnav-fixed .nav > li:first-child > a,
	.subnav-fixed .nav > li:first-child > a:hover {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}
 
/* end subnav */



@media (max-width: 767px) {
	.modal.modal-big {
		width: inherit;
		margin-left: inherit;
	}
}
