body {
	padding-top: 99px;
}

.validation-summary-errors,
.field-validation-error {
  color: #bd4247 !important;
} 
.input-validation-error {
  border-color: #bd4247 !important;
}

.goRed {color: red;}

.control-group.wide-textbox input{ width: 600px;}
input.wide-textbox{ width: 400px;}

.brand.brand-module { float: right; }

.brand.brand-logo { padding: 0; }

.brand.brand-logo img {
	height: 34px;
	margin-top: 8px;
	margin-left: 20px;
}

.logged-in-user, .help-break {
	font-size: .8em;
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: #eee;
	padding: 0;
	margin: 5px 0;
	color: #666;
}

.zip-code { width: 78px; }

.control-group.inline {
	display: inline-block;
}

.control-group.inner label {
	width: 80px;
    
}

.control-group.inner .controls {
	margin-left: 100px;
}

.form-horizontal .control-label {
	padding-bottom: 10px;
	padding-top: 0;
    float: left;
   }

.input-micro       { width: 30px; }

/* subnav */
 
.subnav {
	margin-bottom: 60px;
	width: 100%;
	height: 36px;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, white, white 25%, #F1F0E6); /* FF3.6+ */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#F1F0E6)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(white, white 25%, #F1F0E6); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 25%, #F1F0E6 100%); /* IE10+ */
    background-image: -o-linear-gradient(white, white 25%, #F1F0E6); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF1F0E6', GradientType=0); /* IE6-9 */
    background-image: linear-gradient(white, white 25%, #F1F0E6); /* W3C */
	border: 1px solid #E7E7E5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
 
.subnav .nav {
	margin-bottom: 0;
}
 
.subnav .nav > li > a {
	margin: 0;
	padding-top:    11px;
	padding-bottom: 11px;
	border-right: 1px solid #E7E7E5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.subnav .nav > li > a:hover {
    background-image: url(../img/background_tab_hover.png);
    color: #FFF;
}
 
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover,
.subnav .nav > .open > a,
.subnav .nav > .open > a:hover {
	color: #FFF;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    background-image: url(../img/background_tab.png);
}
 
.subnav .nav > .active > a .caret,
.subnav .nav > li > a:hover .caret {
	border-top-color: #FFFFFF !important;
}
 
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
	border-left: 0;
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
 
.subnav .nav > li:last-child > a {
	border-right: 0;
}
 
.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.wider-dropdown-menu {
	min-width: 251px;
}

.nav-extra {
	position: relative;
}
.nav-extra .img-icon-search {
	position: absolute;
	top: 10px;
	right: 22px;
	opacity: .5;
	background-image: url("../img/glyphicons-halflings.png");
}

  
/* end subnav */

	

a.icon-button {
	 text-decoration: none; 
	 color: #000;
	vertical-align: middle;
}
a.icon-button a:hover { text-decoration: none; }
a.icon-button a:visited { text-decoration: none; }

.icon-color-blue { color: #8DCBF2; }
.icon-color-blueDark { color: #03588C; }
.icon-color-green { color: #73A839; }
.icon-color-red { color: #D92929; }
.icon-color-yellow { color: #facf42; }
.icon-color-orange { color: #F2AA3D; }
.icon-color-pink { color: #F49AC1; }
.icon-color-purple { color: #9760B3; }

.radios input {
  vertical-align: top;
}

.radios label {
  display: inline;
  padding-right: 15px;
}

.modal.modal-wide {
	/* Results in inner container being approx. the appropriate size to hold 11 bootstrap columns at standard width */
	width: 990px;
	margin-left: -495px;
}

.modal.modal-tall .modal-body {
	max-height: 500px;
}

thead tr td {
	font-weight: bold;
}

.indent{ margin-left: 15px;}
.smaller-text{ font-size: .9em;}
.right-align{ text-align: right;}
.center-align{ text-align: center;}

.excel {
	 background: url('/img/excel.png') no-repeat center right; 
	 display: block; 
	 height: 32px; 
	 width: 32px;
}

table.table tbody tr.lot-takendown td, tr.lot-takendown td {
	background: #CCE6C2;
}

table.table tbody tr.lot-cancelled td, tr.lot-cancelled td {
	background: #ffb6c1
}

.footnote {
	font-size: .85em;
	color: #999;
}

.no-pad{ padding: 0;margin: 0;}

.widget {
	border: solid 1px #ccc;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-size: .9em;
}

.widget h4 {
	margin: 0;
	padding: 3px 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #E6F0F9;
	color: #333;
	font-weight: normal;
	font-size: 1.2em;
}

.widget item-exception, .widget .sub-items.item-exception, .widget .header-item.item-exception{ background: #FDD9D9;color: #C44147;}

.widget .item-with-sub-items{padding: 0;margin: 0;}
.widget .list-item{ background: #fff;padding: 3px;border-bottom: solid 1px #e7e7e7;}
.widget .list-item span { float: right;font-weight: normal;}

.widget .header-item{background: #ffffff; padding: 3px;cursor: pointer;border-bottom: solid 1px #e7e7e7;}
.widget .header-item:hover .icon { color: #999;}
.widget .header-item:hover { background: #e7e7e7;}
.widget .header-item .icon{ color: #e2e1d8;}
.widget .header-item span { float: right;font-weight: normal;}

.widget .selected-header-item{ background: #f7f7f7;}

.widget ul.item-with-sub-items li{ list-style: none;background: #f7f7f7;}
.widget .sub-items{ display: none;}
.widget .sub-items li{margin: 0;padding: 5px 0;}
.widget .sub-items li span{ float: right;padding-right: 3px;}

.dynamic-widget .sub-items{ display: block;}

.tm-input {
    display: block !important;
}

.no-border{ border: none;box-shadow: none;-moz-box-shadow: none;}

.note-section{ overflow: auto;border-bottom: solid 1px #ccc;padding: 10px 0;}
.note-section:hover{ background: #ffc;}

#map-canvas img { max-width: none; }

.building-address-header{font-size: 1.4em;margin-bottom: 10px;}

.loading-gif	{ position:fixed;z-index: 1000;text-align: center;padding: 10px;left: 50%;margin-top: 10px; margin-left: 350px;display: none;}

.calculating-time,
.no-time {
	color: #999999;
}

.sales-contracts-search-icon { margin-right: 3px;float: left; }
.requiredStar:after 
{
    color: #bd4247;
    margin-top: .4%;
    margin-left: 5px;
    font-weight: bold;
    font-size: 150%;
    vertical-align: bottom;
    position: absolute;
    content: "*";
}

.loader, .ajaxError
{
    position: relative;
    left: 5px;
}

a .icon-chevron-right
{
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.modal > form {
	margin-bottom: 0;
}

#requestApprovalField {
	width: 515px;
}

.model-body-pulldown {
    overflow-y: visible;
}

.user-profile .control-group {
	margin-bottom: 0;
}

.user-profile .control-label {
	font-weight: bold;
	width: 100px;
}

.user-profile .controls {
	margin-left: 120px;
}

.user-profile ul {
	margin-left: 15px;
}

.edit-note-control {
	text-decoration: none !important;
}

.land-deal-todo small {
	margin-left: 20px;
}

.land-deal-todo.past-due {
	color: #bd4247;
}

.land-deal-todo.past-due .due-date {
	font-weight: bold;
}

.land-deal-section-dragger {
	margin-top: 3px;
	display: none !important;
}

.land-deal-section-dragger:hover {
	color: #000 !important;
}

.land-deal-section .header-item:hover .land-deal-section-dragger {
	display: block !important;
}

.details-form label {
	padding-bottom: 0 !important;
	font-weight: bold;
}

.details-form .control-group {
	margin-bottom: 10px;
}

#archivePotentialLandDealModal textarea {
	width: 515px;
}

#archivePotentialLandDealModal label {
	font-weight: normal;
}

a.icon:hover,
a.icon:focus {
    text-decoration: none;
}

a.icon:hover span,
a.icon:focus span {
    text-decoration: underline;
}

label a.icon:last-child {
    margin-left: 0.5em;
}

.date-field {
    width: 80px;
}

.well .well {
    background-color: #FFF;
}

/* Highlight a table row */
.row-highlight td{
        background-color: #e6eef4 !important;
    }
