table.tablesorter thead tr .header {
	background-image: url('../img/datatables/sort_both.png');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('../img/datatables/sort_asc.png');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('../img/datatables/sort_desc.png');
}
