@using System.Collections
@using Warranty.Core.Security
@using Yay.Enumerations
@using FluentValidation.Internal
@model WarrantyUser

    <div class="list-group">
        @foreach (var property in Model.GetType().GetProperties().OrderBy(x=>x.Name))
        {
            <div class="list-group-item">
                @if (property.PropertyType.IsAssignableTo<IEnumerable<string>>())
                {
                    <strong>@property.Name.SplitPascalCase()</strong>
                    <ul>
                    @foreach (var item in (IEnumerable) property.GetValue(Model))
                    {
                        <li>@item</li>
                    }
                    </ul>
                }
                else
                {
                    <span>@property.Name.SplitPascalCase(): <strong>@property.GetValue(Model)</strong></span>
                }
            </div>
        }
    </div>
